.friendList {
  width: 420px;
  background-color: #ffffff;
  margin: 30px auto;
}

.item {
  margin: 15px auto;
  list-style: none;
  width: 400px;
  height: 110px;
  box-shadow: 0 0 5px #999999;
  display: flex;
  align-items: center;
}
