.transactionHistory {
  border-collapse: collapse;
  width: 873px;
  margin: 30px auto;
  box-shadow: 0 2px 2px #999999;
}

thead {
  text-transform: uppercase;
  background-color: #00cccc;
  color: white;
}

th,
td {
  width: 33.333%;
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  background-color: #ffffff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(92, 105, 117);
}

th:first-child,
td:first-child {
  text-align: left;
  padding-left: 110px;
}

th:nth-child(2),
td:nth-child(2) {
  border-right: 1px solid #e0e6e7;
  border-left: 1px solid #e0e6e7;
  text-align: right;
  padding-right: 120px;
}

th:last-child,
td:last-child {
  text-align: center;
}

td:first-child:first-letter {
  text-transform: uppercase;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.Withdrawal {
  font-size: 15px;
  font-family: 'HelveticaNeueCyr';
  color: rgb(92, 105, 117);
  line-height: 2;
  position: absolute;
  left: 634.098px;
  top: 423px;
  z-index: 34;
}
